<div class="ui-g-12" style="text-align: right;">
    <a [routerLink]="['/general/content/create']">+ เพิ่มข้อความ</a>
</div>
<!-- <div class="ui-g-12" *ngFor="let item of [1,2,3]"> -->
    <div class="ui-g-12">
        <div class="ui-g-8 ui-md-8" style="position: relative;bottom: -40px;">
            <span><img src="/assets/img/icon.jpg" style="width: 130px;" alt=""></span>
        </div>
        <div class="ui-g-4 ui-md-4">
            <div class="ui-g-9" style="text-align: right;" >
                <p style="font-size: 16px;line-height: 10px;" >Kachen Anuritpraserd</p>
                <i><p style="font-size: 12px;line-height: 10px;" >วันที 16  มีนาคม  เวลา 18:00 น.</p></i>
            </div>
            <div class="ui-g-3" style="text-align: center;">
                <img style="width: 50px; border-radius: 50%" src="https://miro.medium.com/fit/c/96/96/0*fgn9C09BakRzpzv_" alt="Kachain Anuritpraseart" >
            </div>
        </div>
        <hr style="width: 100%;margin: auto;">
    </div>
    <div class="ui-g-12" style="cursor: pointer;">
        <div class="ui-g-12">
            <h3>บทความ</h3>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <img style="width: 100%;" src="assets/img/robot_ch.jpeg" alt="" (click)="view()">
            </div>
            <div class="ui-g-6">
                สำหรับผู้ที่อยากเริ่มต้นเรียนรู้ Robot Framework ผมได้ทำคลิปวิดีโอไว้มาลองเรียนรู้และศึกษาไปด้วยกันนะครับ
                <br><br><b>Workshop Beginner</b>
            <br>1. เปิดเว็บไซต์ google
            <br>2. กรอกคำว่า Robot Framework
            <br>3. กดค้นหา
            <br>4. คลิ๊กไปที่ Robot Framework
            <br>5. เช็คหน้าเว็บ
            </div>
        </div>
    </div>