<div>
    <div class="ui-g-9" *ngFor="let item of [1]; let i=index">
        <div class="ui-g-12">
            <div class="ui-g-8 ui-md-8" style="position: relative;bottom: -40px;">
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
            </div>
            <div class="ui-g-4 ui-md-4">
                <div class="ui-g-9" style="text-align: right;font-size: 12px;line-height: 10px;" >
                    <p>Kachen Anuritpraserd</p>
                    <p>วันที 16  มีนาคม  เวลา 18:00 น.</p>
                </div>
                <div class="ui-g-3" style="text-align: center;">
                    <img style="width: 50px; border-radius: 50%" src="https://miro.medium.com/fit/c/96/96/0*fgn9C09BakRzpzv_" alt="Kachain Anuritpraseart" >
                </div>
            </div>
            <hr style="width: 100%;margin: auto;">
        </div>
        <div class="ui-g-12" style="cursor: pointer;">
            <div class="ui-g-12">
                <h3>สำหรับผู้ที่อยากเริ่มต้นเรียนรู้ Robot Framework</h3>
            </div>
            <div class="ui-g-12" style="margin:30px;">
                <div class="ui-g-12">
                    
    <p id="6717" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">
        สำหรับผู้ที่อยากเริ่มต้นเรียนรู้ Robot Framework ผมได้ทำคลิปวิดีโอไว้มาลองเรียนรู้และศึกษาไปด้วยกันนะครับ</p>
    <figure class="fv fw fx fy fz ga bz ca paragraph-image">
        <div class="gb gc gd ge ai">
            <div class="bz ca fu">
                <div class="gk r gd gl">
                    <div class="gm r">
<img class="lo re s t u gh ai gq" width="100%"
                            height="503" role="presentation"
                            src="https://miro.medium.com/max/1116/1*RWV_yy10QJD4E9yAKxu0Jg.jpeg"><noscript><img
                                class="s t u gh ai" src="https://miro.medium.com/max/1786/1*RWV_yy10QJD4E9yAKxu0Jg.jpeg"
                                width="700" height="503" role="presentation" /></noscript>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <p id="6bd6" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">ช่องผมครับ :
        <a href="https://www.youtube.com/channel/UCLZc6Bopa2XOd4LQJJH_ewg/featured?sub_confirmation=1"
            class="ar ev gr gs gt gu" target="_blank"
            rel="noopener nofollow">https://www.youtube.com/channel/UCLZc6Bopa2XOd4LQJJH_ewg/featured?sub_confirmation=1</a>
    </p>
    <h2 id="b79a" class="gv gw cq bi bh gx gy gz ha hb hc hd he hf hg hh hi" data-selectable-paragraph="">ตอนนี้ได้อัพไป
        2 คลิปนะครับ ซึ่งเนื้อหามีดังนี้ครับ</h2>
    <ul class="">
        <li id="863b" class="fg fh cq bi fi b fj hj fl hk fn hl fp hm fr hn ft ho hp hq" data-selectable-paragraph="">
            Robot Framework — ผู้เริ่มต้น Ep1–1 : <a
                href="https://www.youtube.com/watch?v=xqN4DSUf_Gs&amp;t=15s&amp;fbclid=IwAR2uJZrmkCW56935am04GJO49k2vglPV1dwLfg6gpNveK2fzYXxuU7phdZM"
                class="ar ev gr gs gt gu" target="_blank"
                rel="noopener nofollow">https://www.youtube.com/watch?v=xqN4DSUf_Gs&amp;t=15s</a></li>
        <li id="34e7" class="fg fh cq bi fi b fj hr fl hs fn ht fp hu fr hv ft ho hp hq" data-selectable-paragraph="">
            Robot Framework — ผู้เริ่มต้น Ep1–2 : <a href="https://www.youtube.com/watch?v=GJIiiN_iAkI"
                class="ar ev gr gs gt gu" target="_blank" rel="noopener nofollow">https://youtu.be/GJIiiN_iAkI</a></li>
    </ul>
    <h1 id="5479" class="hw gw cq bi bh gx cs hx cu hy hz ia ib ic id ie if" data-selectable-paragraph="">#What is Robot
        Framework … ?#</h1>
    <figure class="fv fw fx fy fz ga bz ca paragraph-image">
        <div class="gb gc gd ge ai">
            <div class="bz ca fu">
                <div class="gk r gd gl">
                    <div class="ig r">
                        <img class="lo re s t u gh ai gq" width="100%"
                            height="502" role="presentation"
                            src="https://miro.medium.com/max/1116/1*ctLZGlb7aXyNZ8E5a8GGPw.jpeg"><noscript><img
                                class="s t u gh ai" src="https://miro.medium.com/max/1786/1*ctLZGlb7aXyNZ8E5a8GGPw.jpeg"
                                width="700" height="502" role="presentation" /></noscript>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <figure class="fv fw fx fy fz ga bz ca paragraph-image">
        <div class="gb gc gd ge ai">
            <div class="bz ca ih">
                <div class="gk r gd gl">
                    <div class="ii r">
                        <img class="lo re s t u gh ai gq" width="100%"
                            height="504" role="presentation"
                            src="https://miro.medium.com/max/1119/1*8kwWBJuihjin3uJ7cdMNFQ.jpeg"><noscript><img
                                class="s t u gh ai" src="https://miro.medium.com/max/1790/1*8kwWBJuihjin3uJ7cdMNFQ.jpeg"
                                width="700" height="504" role="presentation" /></noscript>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <h1 id="5aa3" class="hw gw cq bi bh gx cs hx cu hy hz ia ib ic id ie if" data-selectable-paragraph="">Workshop
        Beginner</h1>
    <p id="c528" class="fg fh cq bi fi b fj hj fl hk fn hl fp hm fr hn ft ci" data-selectable-paragraph="">1.
        เปิดเว็บไซต์ google</p>
    <p id="23d3" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">2. กรอกคำว่า
        Robot Framework</p>
    <p id="24e3" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">3. กดค้นหา
    </p>
    <p id="87ca" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">4. คลิ๊กไปที่
        Robot Framework</p>
    <p id="5ec0" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">5.
        เช็คหน้าเว็บ</p>
                </div>
                <!-- <div class="ui-g-6">
                    <p id="6717" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">สำหรับผู้ที่อยากเริ่มต้นเรียนรู้ Robot Framework ผมได้ทำคลิปวิดีโอไว้มาลองเรียนรู้และศึกษาไปด้วยกันนะครับ</p>
                    <img class="lo re s t u gh ai gq" width="893" height="503" role="presentation" src="https://miro.medium.com/max/1116/1*RWV_yy10QJD4E9yAKxu0Jg.jpeg">
                    <p id="6bd6" class="fg fh cq bi fi b fj fk fl fm fn fo fp fq fr fs ft ci" data-selectable-paragraph="">ช่องผมครับ : <a href="https://www.youtube.com/channel/UCLZc6Bopa2XOd4LQJJH_ewg/featured?sub_confirmation=1" class="ar ev gr gs gt gu" target="_blank" rel="noopener nofollow">https://www.youtube.com/channel/UCLZc6Bopa2XOd4LQJJH_ewg/featured?sub_confirmation=1</a></p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="ui-g-3" style="border-left: 1px solid #888;min-height: 100vh;">
        
        <h3>New Blogs</h3>
        <div class="card-menu-right ui-g-12" *ngFor="let item of [1,2,3]; let i=index">
            <div class="ui-g-3" style="position: relative;line-height: 16px;"><img style="width: 50px;" src="assets/img/t{{i+1}}.png" alt=""></div>
            <div class="ui-g-9" style="position: relative;line-height: 16px;">content content content content content </div>
        </div>

        <h3>Poppular Blogs</h3>
        <div class="card-menu-right ui-g-12" *ngFor="let item of [1,2,3]; let i=index">
            <div class="ui-g-3" style="position: relative;line-height: 16px;"><img style="width: 50px;" src="assets/img/t{{i+1}}.png" alt=""></div>
            <div class="ui-g-9" style="position: relative;line-height: 16px;">content content content content content </div>
        </div>

        <h3>New ข่าวสาร</h3>
        <div class="card-menu-right ui-g-12" *ngFor="let item of [1,2,3]; let i=index">
            <div class="ui-g-3" style="position: relative;line-height: 16px;"><img style="width: 50px;" src="assets/img/t{{i+1}}.png" alt=""></div>
            <div class="ui-g-9" style="position: relative;line-height: 16px;">content content content content content </div>
        </div>
    </div>
</div>