<div class="ui-g-12" style="padding-left: 3%;padding-right: 3%;">
  <div style="margin-bottom: 20px;">
    <h2>คำถามที่พบบ่อย</h2>
    <hr class="hr">
  </div>

  <div class="ui-g-12 card-content">
    <div class="ui-g-1">
      <img src="../assets/img/t3.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
    </div>
    <div class="ui-g-11">
      <span class="w3-large">chromedriver คืออะไร?</span><br>
      <span>เวลาที่เรา Run Robot Framework Script เพื่อทำการทดสอบระบบ ตัว Script ก็จะเรียกใช้ Browser แค่ FireFox
        เพียงอย่างเดียว
        ทีนี้ ถ้าต้องการทดสอบบน Browser ตัวอื่นๆ ต้องลง Driver ของ browser ตัวอื่นๆในเครื่องของเราด้วยนะจ้ะ เพื่อ
        ที่ Robot Framework Script จะได้ทำงานได้
        ยกตัวอย่าง จะใช้ Google Chrome เป็น Browser ในการทดสอบ ก็ต้องลง ChromeDriver นั่นเอง</span>
    </div>
  </div>

  <div class="ui-g-12 card-content">
    <div class="ui-g-1">
      <img src="../assets/img/t2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
    </div>
    <div class="ui-g-11">
      <span class="w3-large">วิธีติดตั้ง Chromedriver เพื่อใช้งาน บนเครื่อง Windows ได้อย่างไร?</span><br>
      <span>
        1. Download ChromeDriver จาก ที่นี่ (ในตอนนี้จะเป็น Version 2.15)
        2. เมื่อ Download เสร็จสิ้นจะได้ไฟล์ chromedriver_win32.zip > unzip ได้ Folder chromedriver_win32
        3. เข้าไปข้างใน Folder chromedriver_win32 จะเห็นว่ามี File : chromedriver อยู่ใน Folder นี้ เปิด Folder
        นี้ทิ้งไว้
      </span>
    </div>
  </div>

  <div class="ui-g-12 card-content">
    <div class="ui-g-1">
      <img src="../assets/img/t3.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
    </div>
    <div class="ui-g-11">
      <span class="w3-large">Jane</span><br>
      <span>Accountant</span>
    </div>
  </div>
</div>