
<div class="content">
<h2>>> Python Conditions and If statements <<</h2>
<p>Python supports the usual logical conditions from mathematics:</p>
<ul>
    <li>Equals: <span class="w3-codespan">a == b</span></li>
    <li>Not Equals: <span class="w3-codespan">a != b</span></li>
    <li>Less than: <span class="w3-codespan">a &lt; b</span></li>
    <li>Less than or equal to: <span class="w3-codespan">a &lt;= b</span></li>
    <li>Greater than: <span class="w3-codespan">a &gt; b</span></li>
    <li>Greater than or equal to: <span class="w3-codespan">a &gt;= b</span></li>
    </ul>
    <p>These conditions can be used in several ways, most commonly in "if statements" and loops.</p>
    <p>An "if statement" is written by using the <span class="w3-codespan">if</span> keyword.</p>
    <div class="w3-example">
        <h3>Example</h3>
        <p>If statement:</p>
        <iframe height="500px" width="100%" src="https://repl.it/repls/StupendousFewBytes?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
    </div>
