
<div class="content">
    <p-accordion>
        <p-accordionTab header="Python คำสั่งเลือกเงื่อนไข">
            <h2>>> Python คำสั่งเลือกเงื่อนไข <<</h2>
            <p>ในส่วนนี้คุณจะได้เรียนเกี่ยวกับคำสั่งเลือกเงื่อนไขในภาษา Python เราจะพูดถึงการควบคุมการทำงานโปรแกรมด้วยคำสั่ง if, if else และ elif เพื่อให้โปรแกรมสามารถทำงานซับซ้อนและมีประสิทธิภาพมากขึ้น ยกตัวอย่างเช่น เครื่องปรับอากาศจะทำงานอัตโนมัติถ้าหากอุณหภูมิในห้องสูงหรือต่ำเกินไป หรือรถยนต์จะแสดงสัญญาณเตือนหากน้ำมันกำใกล้จะหมด เป็นต้น ซึ่งทั้งหมดนี้เกิดการกำหนดเงื่อนไขการทำงานให้โปรแกรม มาเริ่มกับคำสั่ง if ในภาษา Python</p>
            <ul>
                <h2>คำสั่ง if</h2>
                <li>Equals: <span class="w3-codespan">a == b</span></li>
                <li>Not Equals: <span class="w3-codespan">a != b</span></li>
                <li>Less than: <span class="w3-codespan">a &lt; b</span></li>
                <li>Less than or equal to: <span class="w3-codespan">a &lt;= b</span></li>
                <li>Greater than: <span class="w3-codespan">a &gt; b</span></li>
                <li>Greater than or equal to: <span class="w3-codespan">a &gt;= b</span></li>
                </ul>
                <p>These conditions can be used in several ways, most commonly in "if statements" and loops.</p>
                <p>An "if statement" is written by using the <span class="w3-codespan">if</span> keyword.</p>
                <!-- <div class="w3-example">
                    <h3>Example</h3>
                    <p>If statement:</p>
                    <iframe height="500px" width="100%" src="https://repl.it/repls/StupendousFewBytes?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
                    </div>
                </div> -->
        </p-accordionTab>
    </p-accordion>
    
