$text-color-all: #fff;
$theme-font-family: "Opun";
// $main-color: #ffcc00;
$main-color: #01152f;

$top-menu-color: #777;
$top-menu-height: 120px;
$top-menu-background: $main-color;
$top-menu-background-active: #002452;

$left-menu-color: $text-color-all;
$left-menu-width: 300px;
$left-menu-background: $main-color;
