<div class="ui-g-12">
    <div class="ui-g-12">
        <h3>บทความยอดนิยม</h3>
        <hr style="width: 100%;margin: auto;">
    </div>
    <div class="ui-g-12" style="text-align: center;margin-top:30px;">
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>25/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>85 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>60 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>23/01/2020</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-g-12">
    <div class="ui-g-12">
        <h3>คำถามล่าสุด</h3>
        <hr style="width: 100%;margin: auto;">
    </div>
    <div class="ui-g-12" style="text-align: center;">
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card" style="background-color:FFF !important;">
                <div><img class="img-content" src="assets/img/png.png" alt="" style="margin-top:20px;"></div>
                <div class="title" style="background-color: #ababab;">
                    
                    <!-- <div class="like"><button>100 like</button></div> -->
                </div>
                <div class="body">อยากทราบว่ามีใครพอจะแนะนําการ หา xpath ได้ไหมค่ะ ติดเคสมา 3 วันแล้วค่ะ
                    <div class="like"><button>18/03/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt="" style="margin-top:20px;"></div>
                <div class="title" style="background-color: #ababab;">
                    
                    <!-- <div class="like"><button>100 like</button></div> -->
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>17/03/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                <div><img class="img-content" src="assets/img/png.png" alt="" style="margin-top:20px;"></div>
                <div class="title" style="background-color: #ababab;">
                    
                    <!-- <div class="like"><button>100 like</button></div> -->
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>16/03/2020</button></div>
                </div>
            </div>
        </div>
    </div>
</div>