<div class="main">
    <div class="header">
        <div class="ui-g">
            <div class="ui-g-2 ui-lg-9 ui-md-6 ui-xs-6">
                <div class="menu-phone">
                    <span (click)="clickMenu($event)"><i class="pi pi-align-justify"></i></span>
                </div>
                <div class="menu-logo">
                    <!-- <img src="/assets/images/logo_recruitment.png" class="image-logo" alt=""> -->
                </div>
            </div>
            <div class="ui-g-10 ui-lg-3 ui-md-6 ui-xs-6 hi">
                <div class="ui-g-8 pd-top" style="text-align: right;">
                    <!-- <div class="menu-user"><b>Register | Sign In</b></div> -->
                    <div [routerLink]="['/login']" syle="cursor:pointer;" *ngIf="!transactionData.customer"
                        class="menu-user"><b style="font-size: 12px;"> Register | Sign In</b></div>
                    <div *ngIf="transactionData && transactionData.customer">{{transactionData?.customer?.name}}</div>
                </div>
                <div class="ui-g-4 pd-top">
                    <!-- <div class="img-circle"> -->
                    <p-menu [style]="{'line-height': '15px','border-radius':'10px !important'}" #menu [popup]="true"
                        [model]="items"></p-menu>
                    <!-- <span (click)="menu.toggle($event)" style="padding: 2px;"><i class="pi pi-user"></i></span> -->
                    <img *ngIf="!transactionData.customer" style="width: 50px;" src="/assets/img/user-icon-logo-7.png"
                        alt="">
                    <img *ngIf="transactionData.customer" style="width: 50px; border-radius: 50%"
                        src="https://miro.medium.com/fit/c/96/96/0*fgn9C09BakRzpzv_" alt="Kachain Anuritpraseart">
                    <span *ngIf="transactionData.customer" (click)="menu.toggle($event)"
                        style="position: absolute;font-size: 25px;color: #888;cursor: pointer;margin-left: 13px;"><i
                            class="pi pi-list"></i></span>
                    <!-- </div> -->
                </div>
            </div>
            <div class="ui-g w-screen-search"><input type="text" class="input-search" placeholder="Search..."></div>
            <div class="ui-g w-screen">
                <div class="menu-list" style="width:100%;text-align: center;padding:0px;">
                    <div class="ui-g-3" style="padding:0px;" routerLink="/general/content">
                        <div class="menu-ac" [ngClass]="{ 
                                'menu-ac-active': (
                                    routerCurrent == '/general/content/list' || 
                                    routerCurrent == '/general/content/detail/1' || 
                                    routerCurrent == '/general/content/create'
                                    ) }">
                            <span class="menu-li">&nbsp;บทความ</span>
                        </div>
                    </div>
                    <div class="ui-g-3" style="padding:0px;" routerLink="/general/qa">
                        <div class="menu-ac" [ngClass]="{ 'menu-ac-active': routerCurrent == '/general/qa/list' }">
                            <span class="menu-li">&nbsp;ถาม-ตอบ</span>
                        </div>
                    </div>
                    <div class="ui-g-3" style="padding:0px;" routerLink="/general/news">
                        <div class="menu-ac" [ngClass]="{ 'menu-ac-active': routerCurrent == '/general/news/list' }">
                            <span class="menu-li">&nbsp;วิดีโอ</span>
                        </div>
                    </div>
                    <div class="ui-g-3" style="padding:0px;" routerLink="/general/activity">
                        <div class="menu-ac"
                            [ngClass]="{ 'menu-ac-active': routerCurrent == '/general/activity/list' }">
                            <span class="menu-li">&nbsp;กิจกรรม</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="ui-g">
        <div class="side-nav">
            <div class="logo">
                <div style="width: 208px;">
                    <img style="width: 100%;" src="/assets/img/logol3th.png" alt="">
                </div>
                <!-- <h1 style="margin-top: 0px;padding-top: 19px;color: #FFF;">Learnning3thai</h1> -->
                <hr>
            </div>
            <div class="menu-left">
                <p-panelMenu [model]="menuBar" [style]="{'width':'100%','height':'100%'}"></p-panelMenu>
            </div>
        </div>
        <div class="main-content" style="position:absolute;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>