.content {
    text-align: center;
}


.container {
 margin: 50px 0 0 0;
}
.box {
    display: grid;
    grid-template-columns: 300px 700px;
    height: 200px;
    justify-content: center;
    // text-align: center;
    grid-gap: 30px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text
{
    margin: 0 10px 0 0;
}
