<div>
    <!-- <p>general-top-news-list works!</p> -->

    <div class="container">
   
        <div class="box">
            <img class="img" src="/assets/img/empty.png" />
            <div class="text">content</div>
        </div>

        <div class="box">
            <img class="img" src="/assets/img/empty.png" />
            <div class="text">content</div>
        </div>

        <div class="box">
            <img class="img" src="/assets/img/empty.png" />
            <div class="text">content</div>
        </div>

    </div>
</div>