<div class="ui-g-12">
    <div class="ui-g-2" style="background-color: black;"></div>
    <div class="ui-g-8" style="height: 100vh;">

        <div class="ui-g card-content">
            <div class="ui-g-4"><img src="/assets/img/Recovered-5.jpg" style="width: 300px; height: 300px;" /></div>
            <div class="ui-g-8"> <h2>“เจนอส”กระสอบทรายแห่ง One PunchMan</h2><p>ในสมัยนี้เชื่อเลยว่าไม่ว่าใครก็ต้องรู้จักเทพบุตรหมัดเดียวจอดอย่าง “One-Punch-Man” แน่นอน!!
                ซึ่งจุดแข็งของเรื่องนี้คือตัวเอก ไซตามะ ชายผู้ที่แข็งแกร่งระดับที่ว่าต่อยศัตรูเพียงหมัดเดียวตายเลย
                ไม่ว่าศัตรูจะเก่งมาจากไหนก็ตาม แต่ทว่ามีตัวโหดแล้วก็ต้องมีกระสอบทรายประจำเรื่อง
                หลายคนที่ติดตามการ์ตูนเรื่องนี้คงจะพอเดาออกแล้วล่ะ ว่าคน ๆ นั้นคือใคร ใช่ครับ เจนอส
                ศิษย์เพียงคนเดียวของไซตามะนั่นเอง </p></div>
        </div>

        <div class="ui-g card-content">
            <div class="ui-g-4"><img src="/assets/img/4000UChip.jpg" style="width: 300px; height: 300px;" /></div>
            <div class="ui-g-8"> <h2>AMD เผยรายละเอียดเพิ่มเติมของโปรเซสเซอร์</h2>  <p>เปิดตัวโปรเซสเซอร์ใหม่เพิ่มเติมในรุ่น AMD Ryzen 9 4900H Mobile Gaming Processor โปรเซสเซอร์ AMD Ryzen 9 4900H เป็นผลิตภัณฑ์ที่รวมทุกความต้องการของผู้ที่ชื่นชอบการเล่นเกม ที่ต้องการประสิทธิภาพที่เพิ่มขึ้น ด้วยค่า Base Clock ที่ 3.3GHz และค่า Boost Clock ที่ 4.4GHz, คอร์ประมวลผล 8 คอร์ 16 เธรด, ค่าอัตราการใช้พลังงานสูงสุด (TDP) ที่ 45W และประสิทธิภาพการใช้พลังงานอันยอดเยี่ยมที่กระบวนการผลิตขนาด 7nm</p></div>
        </div>

    </div>
    <div class="ui-g-2" style="background-color: black;"></div>
</div>