<div class="content">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <iframe width="100%" src="https://www.youtube.com/embed/WmJSJ3fWIRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
   </div>
      <div class="ui-g-3">
      <iframe width="100%" src="https://www.youtube.com/embed/xqN4DSUf_Gs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ui-g-3">
      <iframe width="100%" src="https://www.youtube.com/embed/bX707NjWQ7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
      <div class="ui-g-3">
        <iframe width="100%" src="https://www.youtube.com/embed/61NfV9qOlNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>        </div>
</div>
<div class="ui-g-12">
  <div class="ui-g-3">
    <iframe width="100%" src="https://www.youtube.com/embed/WmJSJ3fWIRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
 </div>
    <div class="ui-g-3">
      <iframe width="100%" src="https://www.youtube.com/embed/cb2qxEDnvCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
  <div class="ui-g-3">
    <iframe width="100%" src="https://www.youtube.com/embed/PIJBqA7IUC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
    <div class="ui-g-3">
      <iframe width="100%" src="https://www.youtube.com/embed/FgpXwecTwr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
      <div><span>ติดตามคลิปวิดีโอของเราได้ที่ :<a href="https://www.youtube.com/channel/UCLZc6Bopa2XOd4LQJJH_ewg/videos?view_as=subscriber" target="_blank"> Learning3Thai</a>
   </span>
      </div>
</div>
</div>

<!-- <div class="ui-g-12">
          
          <div class="container">
            <div class="row">
              <div class="column-66">
                <h1 class="xlarge-font"><b>Discord</b></h1>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>ทำงานจากบ้าน ประชุมทางไกล</b></h2>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>แบบเห็นหน้า แชร์จอได้</b></h2>
            
                <p>เป็นแอปแชทฟรีที่สามารถสร้างเซิร์ฟเวอร์แบบต้องเชิญคนเข้าเท่านั้น สามารถสร้าง แชนแนลคุยเสียงหรือแชท แยกเป็นหมวดหมู่ต่างๆ ได้ ถึงจะใช้เวอร์ชั่นฟรี ก็ไม่มีการจำกัดจำนวนข้อความในห้อง มีฟังก์ชั่น syntax highlighting สำหรับชาว developers แถมยังมีฟังก์ชั่นวิดีโอคอลได้สูงสุด 10 คน และแชร์จอให้คนอื่นดูได้ด้วย</p>
                <button class="button" style="background-color:red">Read More</button>
              </div>
              <div class="column-33">
                  <img class="card-content" src="/assets/img/Discord.jpg">
                  <img class="card-content" src="/assets/img/Discord1.jpg">
              </div>
            </div>
          </div>
          
          <div class="container" style="background-color:#f1f1f1">
            <div class="row">
                <div class="column-33">
                    <img class="card-content" src="/assets/img/zoom.jpg">
                    <img class="card-content" src="/assets/img/zoom1.jpg">
                </div>
              <div class="column-66">
                <h1 class="xlarge-font"><b>Zoom</b></h1>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>ผู้ให้บริการ Video Conference</b></h2>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>มาแรงท่ามกลางกระแส work from home</b></h2>
            
                <p>จากการระบาดของโรค COVID-19 ทั่วโลก ทำให้กระแสการทำงานจากที่บ้าน (work from home) ถูกนำมาใช้งานมากขึ้น หลายองค์กรต้องหาวิธีและเครื่องมือเพื่อมาตอบโจทย์รูปแบบการทำงานที่เปลี่ยนไป</p>
                <p>Zoom ผู้ให้บริการ Video Conference ที่เพิ่ง IPO เมื่อปีที่แล้ว เป็นหนึ่งในตัวเลือกที่แนะนำค่อนข้างมาก ทั้งสำหรับการประชุมออนไลน์สำหรับองค์กรและการเรียนการสอนออนไลน์ แต่ทว่ายังไม่ค่อยเป็นที่รู้จักในวงกว้างมากนัก</p>
                <button class="button" style="background-color:red">Read More</button>
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="column-66">
                <h1 class="xlarge-font"><b>Java 14</b></h1>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>เพิ่มฟีเจอร์ Records</b></h2>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>เตรียมหยุดซัพพอร์ต Solaris/SPARC</b></h2>
            
                <p>Oracle ออก Java 14 ตามรอบการออกรุ่นใหญ่ทุก 6 เดือน ฟีเจอร์ใหม่ในรุ่นนี้เน้นที่เรื่องหน่วยความจำและ garbage collector (GC) หลายอย่าง เช่น การรองรับ NUMA-aware memory allocation บน G1 ที่เป็น GC ดีฟอลต์ในปัจจุบัน และการพอร์ต ZGC ซึ่งเป็น GC ตัวใหม่มายังวินโดวส์และแมค</p>
                <button class="button" style="background-color:red">Read More</button>
              </div>
              <div class="column-33">
                  <img class="card-content" src="/assets/img/Java_logo.jpg">
              </div>
            </div>
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <div class="row">
                <div class="column-33">
                    <img class="card-content" src="/assets/img/Recovered-1.jpg">
                    <img class="card-content" src="/assets/img/Recovered-2.jpg">
                </div>
              <div class="column-66">
                <h1 class="xlarge-font"><b>“เจนอส” กระสอบทราย</b></h1>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>แห่ง One Punch-Man</b></h2>
                <h2 class="large-font" style="color:MediumSeaGreen;"><b>เคยแพ้ใครมาแล้วบ้าง!?</b></h2>
            
                <p>ในสมัยนี้เชื่อเลยว่าไม่ว่าใครก็ต้องรู้จักเทพบุตรหมัดเดียวจอดอย่าง “One-Punch-Man” แน่นอน!! ซึ่งจุดแข็งของเรื่องนี้คือตัวเอก ไซตามะ ชายผู้ที่แข็งแกร่งระดับที่ว่าต่อยศัตรูเพียงหมัดเดียวตายเลย ไม่ว่าศัตรูจะเก่งมาจากไหนก็ตาม แต่ทว่ามีตัวโหดแล้วก็ต้องมีกระสอบทรายประจำเรื่อง หลายคนที่ติดตามการ์ตูนเรื่องนี้คงจะพอเดาออกแล้วล่ะ ว่าคน ๆ นั้นคือใคร ใช่ครับ เจนอส ศิษย์เพียงคนเดียวของไซตามะนั่นเอง แต่ไม่รู้ว่า อาจารย์ One คนแต่งเรื่องแกจะแกล้งตัวละครนี้อะไรนักหนา หน้าตาอย่างเท่ พลังก็อย่างโหด แต่กลับเป็นตัวละครที่แพ้บ่อยสุดในเรื่องแล้วมั้ง แถมมีสภาพปางตายบ่อยสุดในเรื่องเลยด้วย วันนี้ผมเลยไปรวบรวมมาให้อ่านกันว่า เจนอส ได้พ่ายแพ้ใครไปแล้วมั่ง !!</p>
                <button class="button" style="background-color:red">Read More</button>
              </div>
            </div>
          </div>

    </div> -->
