<div class="main">
    <div class="header">
        <div class="rl">
            <span style="padding-right: 30px;"><i class="pi pi-bell"></i></span>
            <span><i class="pi pi-user"></i></span>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            logo
        </div>
        <div class="menu-left">
            <!-- <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu> -->
            <app-menu></app-menu>
        </div>
    </div>
    <div class="main-content">
    </div>
</div>
<!-- <app-menu></app-menu> -->