<!-- <div class="bg">
    <div class="login">
        <input type="text" id="user" placeholder="user" [(ngModel)]="user">
        <input type="password" id="password" placeholder="password" [(ngModel)]="password">
        <button pButton class="btn" (click)="login()">login</button>
    </div>
</div> -->
<div class="bg">
    <div class="login" style="padding-top: 30px;">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <img class="imgs" src="/assets/img/cat2-1.jpg" style="width: 100%;" alt="">
                </div>
                <div class="ui-g-6">
                    <div class="ui-g-12">
                        <div class="ui-g-6" style="cursor: pointer;color: #FFF;" (click)="register = false">
                            <h5>เข้าสู่ระบบ</h5>
                        </div>
                        <div class="ui-g-6" style="cursor: pointer;color: #FFF;" (click)="register = true">
                            <h5>สมัครสมาชิก</h5>
                        </div>
                    </div>
                    <div class="forms">
                        <div *ngIf="!register">
                            <div class="ui-g-12" style="margin-top: 20px;">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">ชื่อผู้ใช้</label>
                                </span>
                            </div>
                            <div class="ui-g-12" style="margin-top: 20px;">
                                <span class="ui-float-label">
                                    <input id="float-input" type="password" size="30" pInputText>
                                    <label for="float-input">รหัสผ่าน</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <button pButton class="btn-login" (click)="login()">เข้าสู่ระบบ</button>
                            </div>
                        </div>
                        <div *ngIf="register">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">ชื่อผู้ใช้</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="password" size="30" pInputText>
                                    <label for="float-input">รหัสผ่าสนส</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">ชื่อจริง</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">นามสกุล</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">เบอร์โทร</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">อีเมล์</label>
                                </span>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-6" style="text-align: left;">
                                    <span><p-radioButton name="groupname" value=""></p-radioButton></span>
                                    <span style="padding-left:20px;color:#FFF">ทั้วไป</span>
                                </div>
                                <div class="ui-g-6">
                                    <span><p-radioButton name="groupname" value="" checked></p-radioButton></span>
                                    <span style="padding-left:20px;color:#FFF">VIP</span>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <button pButton class="btn-login" (click)="login()">สมัครสมาชิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>