.login {
  // border: solid #888 1px;
  box-shadow: 7px 3px 67px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  width: 550px;
  margin: auto;
  margin-top: 30vh;
  padding: 5% 8% 5% 8%;

  input {
    width: 100%;
    margin: 10px;
    border-radius: 10px !important;
  }

  button {
    width: 100%;
    margin: 10px;
    border-radius: 10px !important;
    height: 35px;
    padding: 6px;
  }
}

.bg {
  // background-image: url(/assets/img/banner.jpg);
  // height: 120px;
  padding-top: calc(20px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
