<div class="ui-g-12">
    <div class="ui-g-12">
        <h3>Poppular Blogs</h3>
        <hr style="width: 100%;margin: auto;">
    </div>
    <div class="ui-g-12" style="text-align: center;margin-top:30px;">
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-g-12">
    <div class="ui-g-12">
        <h3>New Q&A</h3>
        <hr style="width: 100%;margin: auto;">
    </div>
    <div class="ui-g-12" style="text-align: center;">
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title" style="background-color: #ababab;">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title" style="background-color: #ababab;">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
        <div class="ui-g-2 ui-md-6 ui-lg-4 ui-xs-4" style="margin-top:30px;">
            <div class="card">
                <div><img class="img-content" src="assets/img/png.png" alt=""></div>
                <div class="title" style="background-color: #ababab;">
                    การใช้งาน SeleniumLibrary กับ robotframwork
                    <div class="like"><button>100 like</button></div>
                </div>
                <div class="body">บทความนี้เป็นบทความที่นำเสนอการเริ่มการเรียนรู้ Automated Test กับ การใช้งาน
                    SeleniumLibrary กันครับ
                    <div class="like"><button>24/01/2020</button></div>
                </div>
            </div>
        </div>
    </div>
</div>