/* You can add global styles to this file, and also import other style files */
@import "./app/scss/theme-font";
@import "./app/scss/util.scss";
@import "./app/scss/primeng.scss";
@import "./app/scss/responsive.scss";

* {
  font-family: $theme-font-family;
  outline: none;
}

.ui-menuitem-text {
  font-family: $theme-font-family !important;
}

body {
  margin: 0px;
  font-family: $theme-font-family;
  //   line-height: 1;
}

.input-search {
  background-color: #f1f1f1;
  width: 100%;
}

.card {
  margin: auto;
}

// .main-content {
//   padding-left: $left-menu-width + 20px !important;
// }

.content {
  padding: 30px;
  margin: auto;
}

.card-content {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hr {
  width: 100%;
  margin: auto;
  margin-top: -20px;
  background-color: #d0d0d0;
  height: 1px;
  border: unset;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li {
  // margin-right: 2px !important;
  // width: 50% !important;
  border-radius: 0px !important;
}
.btn-primary {
  color: #fff;
  //background-color: #4285f4 !important;
  background: rgb(0,104,228);
  background: linear-gradient(45deg, rgba(0,104,228,1) 0%, rgba(0,220,255,1) 100%);
  margin: .375rem;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  padding: .84rem 2.14rem;
  font-size: .81rem;
  margin-top: 100px; 
}
.btn-primary-b2 {
  color: #fff;
  //background-color: #4285f4 !important;
  background: #E47A00;
  background: linear-gradient(45deg, #E48100 0%, #FFD000 100%);
  margin: .375rem;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  padding: .84rem 2.14rem;
  font-size: .81rem;
  margin-top: 100px; 
}
