/* You can add global styles to this file, and also import other style files */
@import "./app/scss/theme-font";
@import "./app/scss/util.scss";
@import "./app/scss/primeng.scss";
@import "./app/scss/responsive.scss";

* {
  font-family: $theme-font-family;
  outline: none;
}

.ui-menuitem-text {
  font-family: $theme-font-family !important;
}

body {
  margin: 0px;
  font-family: $theme-font-family;
  //   line-height: 1;
}

.input-search {
  background-color: #f1f1f1;
  width: 100%;
}

.card {
  margin: auto;
}

// .main-content {
//   padding-left: $left-menu-width + 20px !important;
// }

.content {
  padding: 30px;
  margin: auto;
}

// .side-nav {
//   margin: -8px;
// }

.card-content {
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}