<div class="content">
    <div class="ui-g-12" style="text-align: right;">
        <a [routerLink]="['/general/content/add' ]">+ เพิ่มข้อความ</a>
    </div>
    <div class="ui-g-12" *ngFor="let item of [1,2,3]; let i=index">
        <div class="ui-g-12">
            <div class="ui-g-8 ui-md-8">
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
                <span><i>icon</i></span>&nbsp;
            </div>
            <div class="ui-g-4 ui-md-4">
                <div class="ui-g-9" style="text-align: right;font-size: 12px;line-height: 10px;">
                    <p>{{transactionData?.customer?.name}}</p>
                    <p>created</p>
                    <p>{{dateNow}}</p>
                </div>
                <div class="ui-g-3" style="text-align: center;">
                    <img style="width: 50px;" src="assets/img/t{{i+1}}.png" alt="">
                </div>
            </div>
            <hr style="width: 100%;margin: auto;">
        </div>
        <div class="ui-g-12" (click)="view(item)" style="cursor: pointer;">
            <div class="ui-g-12">
                <h3>title</h3>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <img style="width: 100%;" src="assets/img/test1.jpg" alt="">
                </div>
                <div class="ui-g-6">
                    content content content content content content content content
                    content content content content content content content content
                    content content content content content content content content
                </div>
            </div>
        </div>
    </div>
</div>